.terraform/
*.tfstate
*.tfvars
*.tfstate.*
tfplan
*.tfplan
*_id_rsa
*_id_rsa.pub
.keys/
.crash.log
crash.log
scripts/

.env
.env.*
*.pem
*.key
*.p12
*.pfx
**/.htpasswd

*.retry
ansible.log

ansible/roles/mv/files/